.absolute-heading {
    font-size: 36px;
}
.absolute-paragraph {
    font-size: 10px;
}
.relative-heading {
    font-size: 5vw;
}
.relative-paragraph {
    font-size: 2.5vw;
}

.absolute-img {
    width: 350px;
}
.relative-img {
    width: 100%;
}

.outer-container {
    border: 3px solid red;
}

.inner-container {
    border: 3px solid blue;
}

.inner-container p, .inner-container img{
    width: 40%;
    display: inline-block;
    vertical-align:middle;
}