* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
h2 {
    align-items: center;
}

.cards-1 {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

#card-1:hover {
    background-color: navajowhite;
    box-shadow: 4px 4px 4px #0004;
    transform: translateY(-4px);
}
#card-1 {
    transition: 
     background-color 0.5s, 
     box-shadow 0.5s,
     transform 0.5s,
}
.cards-2 {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
.cards-3 {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
.cards-4 {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
#card-2:hover {
    background-color: navajowhite;
    box-shadow: 4px 4px 4px #0004;
    transform: translateY(-4px);
}
#card-3:hover {
    background-color: navajowhite;
    box-shadow: 4px 4px 4px #0004;
    transform: translateY(-4px);
}
#card-4:hover {
    background-color: navajowhite;
    box-shadow: 4px 4px 4px #0004;
    transform: translateY(-4px);
}

#card5 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
     opacity 0.5s,
     visibility 0.5s,
     transform 0.5s;
}
.cards-5 {
    flex: 300px;
    border: 1px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
#card5:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#card6 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
     opacity 0.5s,
     visibility 0.5s,
     transform 0.5s;
}
.cards-6 {
    flex: 300px;
    border: 2px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
#card6:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#card7 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
     opacity 0.5s,
     visibility 0.5s,
     transform 0.5s;
}
.cards-7 {
    flex: 300px;
    border: 2px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
#card7:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#card8 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
     opacity 0.5s,
     visibility 0.5s,
     transform 0.5s;
}
.cards-8 {
    flex: 300px;
    border: 2px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
#card8:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}