* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
h2 {
    text-align: center;
}

.cards-1 {
    flex: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid black;
    margin: 50px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

#card-1:hover {
    background-color: navajowhite;
    box-shadow: 4px 4px 4px #0004;
    transform: translateY(-4px);
}
#card-1 {
    transition: 
     background-color 0.5s, 
     box-shadow 0.5s,
     transform 0.5s,
}
#card-2:hover {
    background-color: navajowhite;
    box-shadow: 4px 4px 4px #0004;
    transform: translateY(-4px);
}
#card-3:hover {
    background-color: navajowhite;
    box-shadow: 4px 4px 4px #0004;
    transform: translateY(-4px);
}
#card-4:hover {
    background-color: navajowhite;
    box-shadow: 4px 4px 4px #0004;
    transform: translateY(-4px);
}

#card-5:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card-5 .card-content {
    transition: 
    opacity 0.5s,
    visibility 0.5s;
}
#card-6:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card-6 .card-content {
    transition: 
    opacity 0.5s,
    visibility 0.5s;
}
#card-7:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card-7 .card-content {
    transition: 
    opacity 0.5s,
    visibility 0.5s;
}
#card-8:hover .card-content {
    opacity: 0;
    visibility: hidden;
}
#card-8 .card-content {
    transition: 
    opacity 0.5s,
    visibility 0.5s;
}
.cards-2 {
    background-color: aquamarine;
    flex: px;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
