* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    width: 50%;
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
}
.single-column h1 {
    color: white;
}
.light-container {
    background-image: linear-gradient(rgb(67, 89, 122), gray);
    padding: 48px 0px;
}

.single-column a {
    background-color: black;
    text-decoration: none;
    color: white;
}
.single-column p {
    color: white;
}